body{
  background-color:powderblue;
}
button{
background-color: steelblue;
border-radius: 5px;height: 35px;
align-self: flex-end;
 margin-bottom: 15px;
 margin-top:25px;
 margin-left:20px;
}
h1{
font-weight: bold;
}
#secondcontainer{
  padding-top:70px;
}
.thumbnail{
  
  background-color:steelblue;
}
#header{
  padding-top:20px;
border-bottom:2px solid;
}
#foot{
  margin-top:100px;
  text-align:center;
  border-top:2px solid
}
.delete-checkbox{text-align:left;
    size:5px;
    margin-left:5px
}h6{
    text-align:center;
    font-size: 16px;
}
#save{
  background-color: steelblue;
  border-radius: 5px;
  height: 35px; 
  align-self: flex-end; 
 
  margin-bottom: 15px;
 margin-top:25px;
 margin-left:20px;
}
#second{
  text-align: center;
  padding-top: 80px;
  padding-left: 120px;
 
}
table{
    
  border:2px solid grey;
  height:300px;
  width:70%;
  background-color:#4682b4;
  

}
#snackbar{visibility:hidden;min-width:250px;
  margin-left:-125px;background-color:#333;
  color:#fff;text-align:center;
  border-radius:2px;padding:16px;
  position:fixed;z-index:1;left:50%;
  bottom:30px;font-size:17px}
#snackbar.show{visibility:visible;
-webkit-animation:fadein .5s,fadeout .5s 2.5s;
animation:fadein .5s,fadeout .5s 2.5s}

@-webkit-keyframes fadein{from{bottom:0;opacity:0}to{bottom:30px;opacity:1}}


